img {
    width: 60%;
}

.rojo{
    color: red;
}

.azul{
    color: blue;
}
.rojoOscuro{
    color:darkred;
}

.verde{
    color: green;
}

.violeta{
    color: violet;
}

.azulOscuro{
    color: darkblue;
}

b{
    display: inline-block;

    //transform: translate(153%,-100%);
}