<div class="container mt-3 ">
    <h1 class="text-center">{{noticia.titulo}}</h1>
    <div class="row">
        <div class="col-10 mx-auto">
            <span class="d-block float-right text-muted">{{noticia.fecha}} - {{noticia.autor}}
                <b
                    *ngIf="Categoria"
                    [ngClass]="{rojo: Categoria && Categoria.color=='rojo',
                        azul: Categoria && Categoria.color=='azul',
                        verde: Categoria && Categoria.color=='verde',
                        violeta: Categoria && Categoria.color=='violeta',
                        rojoOscuro: Categoria && Categoria.color=='rojo oscuro',
                        azulOscuro: Categoria && Categoria.color=='azul oscuro'}"
                >
                    {{Categoria.categoria}}
                </b>
            </span>
            
            
            <p class="text-muted    ">
                {{noticia.descripcion}}
            </p>
            <div class="text-center">
                <img src="{{noticia.img}}" alt="{{noticia.titulo}}">
            </div>
            <div class="contenido mt-3">
                <p class="text-left" [innerHTML]="noticia.contenido"></p>
            </div>
        </div>
    </div>
       
</div>
