$deporte:darkred;
$salud: darkblue;

h5 {
    text-align: center;
    font-weight: bold;
    color: #a0a0a0ab;
}

a:hover {
    background-color: rgb(0, 0, 0, 0.8); /* Green */
    color: white;
}

.normal {
    background-color: white;
    border: solid 2px #ccc;
    color: black;
}

.Entretenimiento {
    background-color: green;
    color: aliceblue;
    border: none;
    
}

.Mundo {
    background-color: blue;
    color: aliceblue;
    border: none
}

.Deporte {
    background-color: $deporte;
    color: aliceblue;
    border: none
}

.Economia {
    background-color: violet;
    color: aliceblue;
    border: none;
}

.Salud {
    background-color: $salud;
    color: aliceblue;
    border: none;
}

.Tecnologia {
    background-color: red;
    color: aliceblue;
    border: none;
}

.hentretenimiento {
    color: green;
    text-align: left;
}

.hmundo {
    color: blue;
    text-align: left;
}

.hdeporte {
    color: $deporte;
    text-align: left;
}

.heconomia {
    color: violet;
    text-align: left;
}

.hsalud {
    color: $salud;
    text-align: left;
}

.htecnologia {
    color: red;
    text-align: left;
}

.card {
    border-radius: 0;
    background-color: #eeeeee;
    border: none;
}

.card img {
    border-radius: 0;
}

h5 {
    font-size: 17px;
}

p {
    font-size: 15px;
    text-align: left;
}