<app-carousel></app-carousel>
<div class="container mt-5">
    <div class="row" id="categorias">
        <div class="col-4" *ngFor="let noticia of noticiasCat">
            <app-card
                [noticia]="noticia"
            ></app-card>
        </div>
    </div>
    <div class="row mt-5" id="otras-categorias" >
        <div class="col-3" *ngFor="let noticia of noticiasDifCat">
            <app-card
                [noticia]="noticia"
            ></app-card>
        </div>
    </div>
</div>
