<div class="container mt-4">
    <form class="needs-validaton" novalidate>
        <label for="nombre-completo" class="form-label">Nombre Completo</label>
        <input type="text"  id="nombre-completo" class="form-control" placeholder="nombre completo" required>
        <label for="telefono" class="form-label">Telefono</label>
        <input type="tel"  id="telefono" class="form-control" placeholder="Telefono" required>
        <label for="e-mail" class="form-label">Correo Electronico</label>
        <input type="text"  id="e-mail" class="form-control" placeholder="correo electronico" required>
        <label for="dirigido">Dirigido a:</label>
        <select class="form-select" id="dirigido" required>
            <option> Selecciona una opcion</option>
        </select>
        <label for="mensaje" class="form-label">Mensaje</label>
        <textarea name="" id="mensaje" class="form-control" required>
        </textarea>
        <button type="submit" class="btn btn-primary mt-4">Enviar</button>
    </form>
</div>